.action-buttons-nng {
  display: flex;
  gap: 10px; /* Tạo khoảng cách giữa các nút */

  .btn-success {
    font-size: 10px !important;
  }

  .btn-danger {
    font-size: 10px !important;

  }

  .btn {
    // min-width: 100px; 
    white-space: nowrap; 
    height: 28px;
  }
}

